<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="main.css") }}">
</head>
<body>
	<h1>Breaking news : </h1>
	<h2>A propos {{ sujet }}, Gérald Darmanin, préfère <i>le bon sens des {{ metier }} de Tourcoing plutôt que les études de l'INSEE</i></h2>
	<div class=a><a href="{{ url_for("publish") }}">(Cliquez ici pour générer d'autres âneries)</a> || <a target="_blank" title="Twitter" href="https://twitter.com/intent/tweet?url=https://charcuteriedarmanin.zwindler.fr&text=A propos {{ sujet }}, Gérald Darmanin, préfère le bon sens des {{ metier }} de Tourcoing plutôt que les études de l'INSEE&hashtags=CharchuterieDarmanin" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;">Partagez cette ânerie sur Twitter <img src="https://blog.zwindler.fr/theme/twitter.png" alt="Twitter"></a> || <a href="https://github.com/zwindler/charcuterie-darmanin">Proposer une amélioration ou compléter les listes</a></div>
</body>
</html>
